/* Because I've shuffled colour schemes 9001 times*/
:root{
  /* --bot-grad: #2A4747;
  --top-grad: #439775;
  --nav-color: #61D095; */

  --bot-grad: #A24936;
  --top-grad: #D36135;
  --nav-color: #282B28;
}

nav {
  height:80px;
  width: 100%;
  background-image:linear-gradient(to top right, var(--bot-grad), var(--top-grad));
  color: var(--nav-color);
  padding-left: 2em;
  padding-right: 2em;
  display:inline-block;
  position:fixed;
  z-index: 1;
}

#nav-bar .logo, .header {
  float:left;
}

#nav-bar .logo{
  height: 80px;
  margin-right:10px;
}

#nav-bar .header{
  font-size: 2em;
  top: 50%;
  transform:translateY(-50%);
  position:relative;
  line-height: 100%;
}
