nav {
  height:80px;
  width: 100%;
  background-image:linear-gradient(to top right, #2A4747, #439775);
  color: #61D095;
  padding-left: 2em;
  padding-right: 2em;
  display:inline-block;
  position:fixed;
  z-index: 1;
}

#nav-bar .logo, .header {
  float:left;
}

#nav-bar .logo{
  height: 80px;
  margin-right:10px;
}

#nav-bar .header{
  font-size: 2em;
  top: 50%;
  transform:translateY(-50%);
  position:relative;
  line-height: 100%;
}