.new-tweet{
  border: 0.07em solid #aaaaaa;
  border-radius: 5px;
  background-color: #ffffff;
  padding:0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}

.new-tweet textarea{
  width: 100%
}

.new-tweet h2:after{
  content: ' ';
  display: block;
  border: 0.5px solid black;
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.new-tweet button, .counter{
  display:inline-block;
}

.new-tweet .counter {
  float:right;
}

.counter[data-status=over] {
  color: red;
}

.counter[data-status=under] {
  color: var(--main-text-color);
}

.counter[data-status=warn]{
  color: goldenrod;
}

div.error{
  display: flex;
  align-items: center;
  margin: 5%;
  width: 90%;
  color: #D8000C;
  font-weight: bold;
  justify-content: space-between;
  background-color: #FFCACA;
  padding: 0.5em;
}

div.error .fa-exclamation-triangle{
  font-size: 1.5em;
  margin: 0.5em;
}